body {
  background: #00537e;
  background: -moz-linear-gradient(to bottom, #00537e 0%, #3aa17e 100%);
  background: -webkit-linear-gradient(to bottom, #00537e 0%, #3aa17e 100%);
  background: linear-gradient(to bottom, #00537e 0%, #3aa17e 100%);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
}


:root {
  --primary-color: #2f4550;
  --secondary-color: #ffffff;
  --tertiary-color: #1d454570;
  --black-color: #000000;
}


